body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('https://www.nicepng.com/png/full/102-1022122_fondo-vector-glossario-de-cts-ciencia-tecnologia-e.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#app{
  width: 100%;
}